# Bot Token [Required]
BOT_TOKEN=

# Client ID [Required]
CLIENT_ID=

# Main Guild [Optional]
MAIN_GUILD=

# Database Connection String [Required]
DATABASE=

# Error Logs Webhook [Optional]
ERROR_LOGS=

# Join Leave Logs Webhook [Optional]
JOIN_LEAVE_LOGS=